<!DOCTYPE html>
<html lang="en">
<head>
  
    <link rel="stylesheet" href="~/css/Course.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/themify-icons-font/themify-icons/themify-icons.css" />
    <script src="~/javascripts/Course.js" defer></script>
</head>
<body>
    <div class="form">
        <div class="interact">
            <img src="~/pictures/aspnetcore.jpg">
        </div>
        <div class="btn">
            <div class="Test-btn"><a href="">Test</a></div>
        </div>

        <div class="content">
            <div><h2>wellcoome to my course</h2></div>
            <div class="infor-course"><p>fdjalfhkdlfodjfodfghga</p></div>
            <div class="infor-course"><p>Created by: tran an thuyen</p></div>
            <div class="infor-course"><p>Link to learn: </p><a href="">dslafjdoisfjdoifdof</a></div>
        </div>

        <div class="rate">
            <div class="content-infor">
                <p>How was your experience ?</p>
                <div class="rate-star">
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                    <i class="ti-star"></i>
                </div>
                <div class="comment">
                    <input type="text">
                </div>
                <div class="btn2">
                    <div class="rate-btn"><a href="">Rate Course</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
