@using ServiceContracts.DTO;
@model AccountAddRequest
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/themify-icons-font/themify-icons/themify-icons.css" />
    <script src="~/javascripts/Login.js" defer></script>
</head>
<body class="body-login">
    <div class="login">
        <form asp-controller="Home" asp-action="Login" method="post">
            <h2>Log In</h2>
            <div class="box">
                <input asp-for="accountName" type="text" placeholder="Username">
            </div>
            <div class="box">
                <input asp-for="password" type="password" placeholder="Password">
            </div>
            <button class="btnLogin">Login</button>
            <div class="text-red"><p class="paragraph">@ViewBag.ErrorMessage</p></div>
            <div class="query">
                <p>forgot<a href="#"> Password</a>?</p>
                <p>Create an <a asp-action="Signup">Account</a>?</p>
            </div>
        </form>
    </div>

</body>
</html>

