@using ServiceContracts.DTO;
@model AccountAddRequest
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/loginSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/themify-icons-font/themify-icons/themify-icons.css" />

</head>
<body>
    <div class="frost"></div>    <!--lam mo trang-->
    <div id="main">

        <div id="header">
            <ul id="nav">
                <li>
                    <a href="#">
                        <i class="ti-home"></i>
                        Home
                    </a>
                </li>
                <li><a href="#">Course</a></li>
                <li><a href="#">Contact</a></li>

            </ul>

            <ul id="nav-right">
                <li id="logo"><a>ATLearning.com</a></li>
                <li class="signup-button">
                    <a>
                        Sign Up
                    </a>
                </li>
                <li class="login-button"><a>Log In</a></li>
            </ul>



        </div>



    </div>

    <!--iframe login and signup-->

    <div class="login-iframe">

        <div class="body-login">
            <div class="close"><a asp-action="Index"><i class="ti-close"></i></a></div>
            <div class="login">
                <form asp-controller="Home" asp-action="Login" method="post">
                    <h2>Log In</h2>
                    <div class="box">
                        <input asp-for="accountName" type="text" placeholder="Username">
                    </div>
                    <div class="box">
                        <input asp-for="password" type="password" placeholder="Password">
                    </div>
                    <button class="btnLogin">Login</button>
                    <div class="text-red"><p class="paragraph">@ViewBag.ErrorMessage</p></div>
                    <div class="query">
                        <p>forgot<a href="#"> Password</a>?</p>
                        <p>Create an <a asp-action="Signup">Account</a>?</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!---->




    <div id="slider">

        <div class="text-content">
            <div class="text-description"><h3>Learn to change the future</h3></div>
        </div>
    </div>

    <div id="content">

        <div class="form">
            <div class="text-content">
                <div class="text"><a>Learn from <b>275+</b> leading universities and companies with ATLearning</a></div>
                <div class="logo">
                    <span class="logo_ursera"><img src="~/pictures/course1.png"></span>
                    <span class="logo_google"><img src="~/pictures/images (1).png"></span>
                    <span class="logo_undemy"><img src="~/pictures/images.png"></span>
                    <div class="hr_fist"><hr></div>
                </div>
            </div>

        </div>

        <div class="course">

            <div class="course-list">
                <img src="~/pictures/aspnetcore.jpg" alt="aspnetcore">
                <div class="course-body">
                    <h3 class="course-heading">Learn asp.net core</h3>
                    <p class="course-content">for beginner</p>
                    <div class="course-learn-btn">
                        <div class="Learn-btn"><a asp-action="Login">Learn Course</a></div>
                        <div class="rate-btn"><a asp-action="Login">Rate Course</a></div>
                    </div>
                </div>
            </div>

            <div class="course-list">
                <img src="~/pictures/cplusplus.jpg" alt="c++">
                <div class="course-body">
                    <h3 class="course-heading">Learn C++</h3>
                    <p class="course-content">for beginner</p>
                    <div class="course-learn-btn">
                        <div class="Learn-btn"><a asp-action="Login">Learn Course</a></div>
                        <div class="rate-btn"><a asp-action="Login">Rate Course</a></div>
                    </div>
                </div>
            </div>

            <div class="course-list">
                <img src="~/pictures/htmlcss.jpg" alt="htmlAndcss">
                <div class="course-body">
                    <h3 class="course-heading">Learn html & css</h3>
                    <p class="course-content">for beginner</p>
                    <div class="course-learn-btn">
                        <div class="Learn-btn"><a asp-action="Login">Learn Course</a></div>
                        <div class="rate-btn"><a asp-action="Login">Rate Course</a></div>
                    </div>
                </div>
            </div>

            <div class="course-list">
                <img src="~/pictures/machinelearning.jpg" alt="machinlearning">
                <div class="course-body">
                    <h3 class="course-heading">Learn machine learning</h3>
                    <p class="course-content">for beginner</p>
                    <div class="course-learn-btn">
                        <div class="Learn-btn"><a asp-action="Login">Learn Course</a></div>
                        <div class="rate-btn"><a asp-action="Login">Rate Course</a></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="footer">
        <div class="footer-infor">
            <div>
                <p><i class="ti-mobile"></i> Contact: (84+)912345678</p>
            </div>
            <div>
                <p><i class="ti-email"></i> Email: TATCompany2024@gmail.com</p>
            </div>
        </div>
        <div>
            <p class="copyright">
                Copyright© 2024 TAT Company
            </p>
        </div>
    </div>

</body>
</html>

