<!DOCTYPE html>

<html>
<head>

    <link rel="icon" href="~/pictures/ATL_Logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - TATLearning</title>
    
    
</head>
<body>
    
    <div>
        @RenderBody()
    </div>
   
</body>
</html>

